<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
    <form method="POST" th:action="@{/register}" id="registrationModel">
        <label>Username: </label>
        <input type="text" name="name"/><br/>
        <label>Password: </label>
        <input type="password" name="pass"/><br/>
        <label>address: </label>
        <input type="text" name="address"/><br/>
        <label>Phone: </label>
        <input type="text" name="phoneNumber"/><br/>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>